/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-image: url('../assets/backsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-color: #333;
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    font-size: 2.5em;
    color: #007BFF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
    width: 80%;
    max-width: 1600px;
}

input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    flex: 1;
}

button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

    button:hover {
        background-color: #0056b3;
    }

#searchResults, #time {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1600px;
    text-align: center;
}